@model WebApplication2.ViewModels.PropertyListViewModel

@{
    ViewData["Title"] = "Sales Transactions";

}
<style>
    body {
        background-color: #285b3a;
        font-family: 'Segoe UI', sans-serif;
    }

    .center-box {
        background-color: #67886d;
        width: 500px;
        margin: 60px auto;
        padding: 30px 30px;
        border-radius: 35px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        color: white;
        text-align: center;
    }

    .form-control {
        margin: 10px 0;
        padding: 10px;
        border-radius: 6px;
        border: none;
        width: 100%;
        box-sizing: border-box;
    }

    .btn-custom {
        background-color: #285b3a;
        color: white;
        padding: 10px;
        width: 100%;
        border: 1px solid white;
        border-radius: 6px;
        cursor: pointer;
        margin-top: 10px;
    }

        .btn-custom:hover {
            background-color: #1f4a2d;
        }

    .logo {
        width: 200px;
        margin-bottom: 15px;
    }

    .subtext {
        font-size: 12px;
        margin-bottom: 20px;
    }
</style>

<div class="center-box">
    <img src="@Url.Content("~/src/full-logo-1.png")" class="logo" alt="Logo" />


        
   

        <form method="get">
        <input type="text" name="searchTerm" class="form-control" value="@Model.SearchTerm" placeholder="Search Contract No, Fullname, or Unit Code" />
        <button type="submit" asp-action="Index1" class="btn-custom">Search</button>
        </form>
  
</div>


